<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
</head>
<body>
<!-- Navbar z buttonami-->

    <div class="navbar">

         <!-- Kategorie-->
        <div class="dropdown">
            <button class="dropbtn" >Kategorie
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in categoryData %}
                <a href="/kategorie?catId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Rodzaje-->
        <div class="dropdown">
            <button class="dropbtn">Rodzaje
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in typeData %}
                <a href="/rodzaje?typeId={{link[0]}}">{{ link.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Producenci-->
        <div class="dropdown">
            <button class="dropbtn">Producenci
                <i class="fa fa-caret-down" ></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in manuData %}
                <a href="/producenci?manuId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Profil-->
        <div class="dropdown">
            <button class="dropbtn">ProfilOrderRight
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/account/orders">Zamowienia</a>
			    <a href="/account/profil">Profil</a>
                <a href="/account/loginForm">Zaloguj</a>
                <a href="/account/logout">Wyloguj</a>
            </div>
        </div>

        <!-- Koszyk-->
        <div id="cartId">
		<a class="link" href="/cart">
			<button class="cartClass">
			    <img src={{url_for('static', filename='photos/cart.png')}} id="cartIcon" />
                {{noOfItems}}
			</button>
		</a>
	    </div>

    </div>

{% if productData%}
    <h1>Lista produktów</h1>
    <table id="productList">
    <tr>
        <td>Nazwa</td>
        <td>Opis</td>
        <td>Cena netto</td>
        <td>Cena brutto</td>
        <td>Liczba zam. sztuk</td>
    </tr>
    {% for row in productData%}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <form action="/addToCart?productId={{row[0]}}" method="post" href="/addToCart?productId={{row[0]}}">
                <td><input type = "number" name = "liczba" min = "0" maxlength="2" size="2"/></td>
                <td><input type="submit" value="Dodaj do koszyka"/></td>
                <input type = "hidden"  value = {{row[0]}} />
            </form>
        </tr>
    {% endfor %}
    </table>
{%  endif %}

{% if products %}
<div id="cartItems">
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for row in products %}
		<div>
			<div id="itemName">
				<span id="itemNameTag">{{row[1]}}</span><br>
				In stock<br>
			</div>
			<div id="itemPrice">
				${{row[0]}}
				${{row[1]}}
				${{row.quantity}}
			</div>

            <a href="/removeCart?productId={{row[0]}}">Remove</a>
		</div>
		{% endfor %}
	</div>
    <a href="/placeOrder">Zamów</a>
</div>
{% endif %}



{% if orders %}
<div id="cartItems">
	<h2>Shopping Cart</h2>
	<div id="tableItems">
		{% for link in orders %}
		<div>
			<div id="itemName">
				<span id="itemNameTag">{{link.orderId}}</span><br>
				<span id="itemNameTag">{{link.productId}}</span><br>
                <span id="itemNameTag">{{link.productName}}</span><br>
                <span id="itemNameTag">{{link.categoryId}}</span><br>
                <span id="itemNameTag">{{link.valueNet}}</span><br>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endif %}


</body>
</html>