<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <title>Logowanie</title>
</head>
<body>
<!-- Navbar z buttonami-->

    <div class="navbar">
         <div class="navbar-button">
            <a href="/">Strona główna</a>
        </div>
    </div>

<h2 align="center">Logowanie</h2>
<form action="/login" method="POST">
    <table align="center">
        <tr>
            <td>Email:</td><td><input type="text" name="email"></td>
        </tr>
        <tr>
            <td>Hasło:</td><td><input type="password" name="password"></td>
        </tr>
    </table>
    <p><center><input type="submit" align="center" value="Zaloguj"></center></p>
</form>
<center><a href="/registerForm">Rejestracja</a></center>
</body>
</html>