<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/registerForm.js') }}"> </script>
    <title>Rejestracja</title>
</head>
<body>
<!-- Navbar z buttonami-->

    <div class="navbar">

         <!-- Kategorie-->
        <div class="dropdown">
            <button class="dropbtn" >Kategorie
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in categoryData %}
                <a href="/kategorie?catId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Rodzaje-->
        <div class="dropdown">
            <button class="dropbtn">Rodzaje
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in typeData %}
                <a href="/rodzaje?typeId={{link[0]}}">{{ link.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Producenci-->
        <div class="dropdown">
            <button class="dropbtn">Producenci
                <i class="fa fa-caret-down" ></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in manuData %}
                <a href="/producenci?manuId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Profil-->
        <div class="dropdown">
            <button class="dropbtn">ProfilOrderRight
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/account/orders">Zamowienia</a>
			    <a href="/account/profil">Profil</a>
                <a href="/account/logout">Wyloguj</a>
            </div>
        </div>

        <!-- Koszyk-->
        <div id="cartId">
		<a class="link" href="/cart">
			<button class="cartClass">
			    <img src={{url_for('static', filename='photos/cart.png')}} id="cartIcon" />
                {{noOfItems}}
			</button>
		</a>
	    </div>

    </div>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>Email: <input type="email" name="email" id="email" required></p>
    <P>Hasło: <input type="password" name="password" id="password" required></p>
    <p>Potwierdź hasło: <input type="password" name="cpassword" id="cpassword" required></p>
    <p>Imię: <input type="text" name="firstName" required></p>
    <p>Nazwisko: <input type="text" name="lastName" required></p>
    <p>Adres: <input type="text" name="address" required></p>
    <p>Telefon: <input type="text" name="phone"></p>
    <p><input type="submit" value="Register"></p>
</form>
    <a href="/account/loginForm">Logowanie</a>
</body>
</html>