<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('static', filename='css/style.css') }} />
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/registerForm.js') }}"> </script>
    <title>Rejestracja</title>
</head>
<body>
<!-- Navbar z buttonami-->

    <div class="navbar">

         <!-- Kategorie-->
        <div class="dropdown">
            <button class="dropbtn" >Kategorie
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in categoryData %}
                <a href="/kategorie?catId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Rodzaje-->
        <div class="dropdown">
            <button class="dropbtn">Rodzaje
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in typeData %}
                <a href="/rodzaje?typeId={{link[0]}}">{{ link.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- Producenci-->
        <div class="dropdown">
            <button class="dropbtn">Producenci
                <i class="fa fa-caret-down" ></i>
            </button>
            <div class="dropdown-content" id="myDropdown">
                {% for link in manuData %}
                <a href="/producenci?manuId={{link[0]}}">{{link[1]}}</a>
                {% endfor %}
            </div>
        </div>

    </div>

<h2 align="center">Rejestracja</h2>
<form action="/register" method="POST" onsubmit="return validate()">
    <table align="center">
        <tr><td>Email:</td><td><input type="email" name="email" id="email" required></td></tr>
        <tr><td>Hasło:</td><td><input type="password" name="password" id="password" required></td></tr>
        <tr><td>Potwierdź hasło:</td><td><input type="password" name="cpassword" id="cpassword" required></td></tr>
        <tr><td>Imię:</td><td><input type="text" name="firstName" required></td></tr>
        <tr><td>Nazwisko:</td><td><input type="text" name="lastName" required></td></tr>
        <tr><td>Adres:</td><td><input type="text" name="address" required></td></tr>
        <tr><td>Telefon:</td><td><input type="text" name="phone"></td></tr>
    </table>
    <br>
    <center><input type="submit" value="Zarejestruj"></center>
</form>
<center><p><a href="/loginForm">Logowanie</a></p></center>
</body>
</html>